<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>addRentalVehicle</servlet-name>
        <servlet-class>servlets.addRentalVehicle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addRentalVehicle</servlet-name>
        <url-pattern>/addRentalVehicle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addUser</servlet-name>
        <servlet-class>servlets.addUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>repairVehicle</servlet-name>
        <servlet-class>servlets.repairVehicle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>repairVehicle</servlet-name>
        <url-pattern>/repairVehicle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchVehicle</servlet-name>
        <servlet-class>servlets.searchVehicle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchVehicle</servlet-name>
        <url-pattern>/searchVehicle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchVehicleForRent</servlet-name>
        <servlet-class>servlets.searchVehicleForRent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchVehicleForRent</servlet-name>
        <url-pattern>/searchVehicleForRent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>issue</servlet-name>
        <servlet-class>servlets.issue</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>issue</servlet-name>
        <url-pattern>/issue</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>book</servlet-name>
        <servlet-class>servlets.book</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>book</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>returnVehicle</servlet-name>
        <servlet-class>servlets.returnVehicle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>returnVehicle</servlet-name>
        <url-pattern>/returnVehicle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>printQuery</servlet-name>
        <servlet-class>servlets.printQuery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>printQuery</servlet-name>
        <url-pattern>/printQuery</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
