small {
  color: red;
}

.tacbox {
  display:block;
  padding: 0.5em;
  margin: 1em;
  border: 1px solid #ddd;
  background-color: #eee;
  max-width: 1200px;
}

.input-box {
  height: 1.5em;
  width: 22em;
  vertical-align: middle;
}

#space {

  vertical-align: middle;
  visibility: hidden;

}

#petDetails {
  vertical-align: middle;
  visibility: hidden;
}

#catprice {
    visibility: hidden;
}

